@font-face {
  font-family: "inter";
  src: url(/assets/fonts/Inter-Regular.woff2);
}

@mixin font-inter-bold {
  font-family: inter;
  font-weight: 700;
}

@mixin font-inter-light {
  font-family: inter;
  font-weight: 100;
}

@mixin font-inter-reg {
  font-family: inter;
  font-weight: 500;
}
