@import "variables";

@media screen and (min-width: 360px) {
  section {
    padding-top: $default-padding * 0.4;
    padding-bottom: $default-padding * 0.4;
  }
  .header__nav {
    display: none;
  }
  .hero__content {
    margin-top: 80px * 0.2;
  }
}

@media screen and (min-width: 360px) and (max-width: 575px) {
  .reviews__items {
    max-width: 90%;
  }
  .reviews__quote {
    text-align: center;
  }
  .footer__nav {
    text-align: center;
    margin-top: 32px;
  }
  .footer__bottom-item {
    text-align: center;
  }
}

@media screen and (min-width: 480px) {
  section {
    padding-top: $default-padding * 0.4;
    padding-bottom: $default-padding * 0.4;
  }
  .header__nav {
    display: none;
  }
  .hero__content {
    margin-top: 80px * 0.2;
  }
}

@media screen and (min-width: $sm) and (max-width: 767px) {
  section {
    padding-top: $default-padding * 0.4;
    padding-bottom: $default-padding * 0.4;
  }
  header .row {
    align-items: start;
  }
  .hero__content {
    margin-top: 80px * 0.6;
  }
  .reviews__quote {
    text-align: center;
  }
  .reviews__items {
    max-width: 100%;
  }
  .footer__nav {
    text-align: center;
    margin-top: 44px;
  }
}

@media screen and (min-width: $md) and (max-width: 991px) {
  section {
    padding-top: $default-padding * 0.6;
    padding-bottom: $default-padding * 0.6;
  }
  .hero__content {
    margin-top: 80px * 0.8;
  }
  .manage-everything {
    &__img-1,
    &__img-2 {
      transform: scale(0.7);
    }
    &__img-2-wrapper {
      margin-top: -290px;
      margin-left: 20px;
    }
  }
  .build-better {
    &__img-1,
    &__img-2 {
      transform: scale(0.75);
    }
    &__img-wrapper {
      left: -5%;
    }
    &__img-gradient {
      display: none;
    }
    &__img-2-wrapper {
      top: -10%;
    }
    &__img-1-wrapper {
      z-index: 1;
      top: 20%;
      left: -60%;
    }
  }
  .choose-plan {
    &__info-container,
    &__button-container {
      padding-left: 20%;
    }
  }
}

@media screen and (min-width: $lg) and (max-width: 1199px) {
  section {
    padding-top: $default-padding * 0.8;
    padding-bottom: $default-padding * 0.8;
  }
  .hero__content {
    margin-top: 80px;
  }
  .build-better {
    &__img-1,
    &__img-2 {
      transform: scale(0.95);
    }
  }
}

@media screen and (min-width: $xl) {
  .hero__content {
    margin-top: 80px;
  }
  section {
    padding-top: $default-padding;
    padding-bottom: $default-padding;
  }
}
