@mixin circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

@mixin dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

@mixin triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent $color-green;
}

@mixin title {
  //  font-size: 38px;
  //  line-height: 50px;
  //  letter-spacing: -0.3px;
}

@mixin subtitle {
  font-size: 18px;
  line-height: 32px;
}

@mixin subtitle-2 {
  font-size: 16px;
  line-height: 28px;
}

@mixin subtitle-3 {
  font-size: 14px;
  line-height: 28px;
  letter-spacing: -0.3px;
}

@mixin border {
  border: 1px solid $color-grey-border;
}
