@mixin circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

@mixin dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

@mixin title {
  font-size: 38px;
  line-height: 50px;
  letter-spacing: -0.3px;
}
