@import "variables";
@import "fonts";
@import "buttons";
@import "mixins";
@import "normalize";
@import "spacing";
@import "typography";

html {
  font: {
    family: inter, sans-serif;
    weight: 400;
  }
}

body {
  overflow-x: hidden;
  margin: 0 auto;
  font-family: inter;
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.header {
  &__nav {
    @include subtitle-2;
    color: $color-grey-lighten-1;
  }
}

.hero {
  width: 100%;
  background-image: url(/assets/images/hero/hero-bg.png), $blue-gradient;
  background-position: top;
  background-repeat: no-repeat;
  mix-blend-mode: normal;
  background-size: cover;
  &__content {
    margin-top: 80px;
    z-index: 1;
    text-align: center;
  }
  &__title {
    color: $color-white;
  }
  &__subtitle {
    font-size: 20px;
    max-width: 563px;
    line-height: 34px;
    color: $color-grey-lighten-1;
  }
  &__sub-subtitle {
    @include subtitle-3;
    color: $color-grey-lighten-1;
  }
}

.advantages {
  .circle {
    margin: auto;
  }
  &__red-circle {
    @include circle;
    background-color: $color-red-circle;
  }
  &__red-dot {
    @include dot;
    background-color: $color-red-dot;
  }
  &__green-circle {
    @include circle;
    background-color: $color-green-circle;
  }
  &__green-dot {
    @include dot;
    background-color: $color-green-dot;
  }
  &__purple-circle {
    @include circle;
    background-color: $color-purple-circle;
  }
  &__purple-dot {
    @include dot;
    background-color: $color-purple-dot;
  }
  &__line {
    height: 110px;
    position: relative;
    bottom: -110px;
    width: 1px;
    background-color: $color-grey-border;
  }
  &__title {
    color: $color-black;
    text-align: center;
  }
  &__subtitle {
    @include subtitle;
    color: $color-grey-darken-1;
    margin: 0;
    text-align: center;
    max-width: 300px;
  }
}
.block-gradient-background {
  background: $color-white;
  background: linear-gradient(
    0deg,
    $color-white 50%,
    $color-white 50%,
    $background-color-grey 50%,
    $background-color-grey 100%
  );
}

.manage-everything {
  background-color: $background-color-grey;
  &__img-1 {
    box-shadow: 0px 6px 20px $color-shadow-black;
  }
  &__img-2 {
    position: relative;
    box-shadow: 0px 22px 54px $color-shadow-blue;
    z-index: 2;
  }
  &__img-2-wrapper {
    margin-top: -290px;
    margin-left: 140px;
  }
  &__img-gradient {
    position: relative;
    z-index: 1;
    margin-top: -160px;
    width: 351px;
    height: 192px;
    background: $white-gradient;
  }
  &__title {
    color: $color-black;
  }
  &__subtitle {
    @include subtitle;
    max-width: 436px;
    color: $color-grey-darken-1;
  }
}

.build-better {
  &__title {
    color: $color-black;
    max-width: 436px;
  }
  &__subtitle {
    @include subtitle;
    max-width: 436px;
    color: $color-grey-darken-1;
  }
  &__img-1 {
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.103346);
    border-radius: 5px;
  }
  &__img-1-wrapper {
    //top: 65px;
    //margin-left: 225px;
    //margin-bottom: -60px;
    margin-top: 5%;
    position: relative;
    z-index: -1;
  }
  &__img-2 {
    box-shadow: 0px 22px 54px $color-shadow-black-darken;
    border-radius: 5px;
  }
  &__img-2-wrapper {
    position: relative;
    margin-right: -26%;
    //margin-top: -490px;
    box-sizing: border-box;
  }
  &__img-gradient {
    z-index: 1;
    position: absolute;
    top: 45%;
    width: 105%;
    height: 70%;
    background: $white-gradient;
  }
}

.hero-2 {
  background: $hero-2-background;
  background-image: url(../images/hero-2/hero-2-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  mix-blend-mode: normal;
  &__circle {
    margin: 0 auto;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background-color: $color-white-transparent;
    position: relative;
  }
  &__triangle {
    @include triangle;
  }
  &__title {
    text-align: center;
    color: $color-white;
  }
  &__subtitle {
    @include subtitle;
    text-align: center;
    color: $color-white;
    max-width: 750px;
  }
}

.choose-plan {
  &-background {
    padding-bottom: 0;
  }
  &__title {
    text-align: center;
    color: $color-black;
  }
  &__subtitle {
    @include subtitle;
    color: $color-grey-darken-1;
    max-width: 750px;
    text-align: center;
  }
  &__toggle-buttons {
    font-weight: 600;
    @include border;
    width: 250px;
    border-radius: 23px;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: -0.3px;
    text-transform: uppercase;
    color: $color-green-darken-1;
    &:hover {
      cursor: pointer;
    }
  }
  &__period-button {
    transition: all 0.3s ease-out;
    border-radius: 23px;
    width: 116px;
  }
  &__price-card {
    background-color: $color-white;
    border-radius: 6px;
  }
  &__line {
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
  }
  .line-active {
    background-color: $color-green;
  }
  &__type {
    font-weight: 700;
    color: $color-grey-2;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 32px;
  }
  &__price {
    font-weight: 700;
    color: $color-black;
    &-currency {
      vertical-align: super;
      font-size: 30px;
      line-height: 36px;
      letter-spacing: -1.2px;
    }
    &-number {
      font-size: 46px;
      line-height: 60px;
      letter-spacing: -0.3px;
    }
    &-slash {
      font-size: 22px;
    }
    &-period {
      font-size: 17px;
      line-height: 21px;
      letter-spacing: -0.3px;
    }
  }
  &__description {
    color: $color-grey-darken-1;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: -0.4px;
    max-width: 230px;
  }
  &__bonus-list {
    position: relative;
    right: 28px;
  }
  &__bonus {
    @include subtitle;
    letter-spacing: -0.45px;
    color: $color-black;
  }
  &__bonus .crossed {
    text-decoration: line-through;
    color: $color-text-crossed;
  }
  &__footnote {
    @include subtitle-3;
    color: $color-footnote;
  }
}

.brands {
  padding-bottom: 0;
  &__title {
    @include subtitle-2;
    color: $color-grey-2;
    text-align: center;
  }
}

.brands .slick-track {
  display: flex;
  align-items: center;
}

.reviews {
  padding-bottom: 0;
  &__items {
    @include border;
    border-radius: 10px;
    overflow: hidden;
  }
  &__quote-mark {
    font-size: 98px;
    line-height: 119px;
    letter-spacing: -0.1px;
    color: $color-grey-lighten-1;
  }
  &__quote {
    @include subtitle;
    letter-spacing: -0.1px;
    max-width: 274px;
    min-height: 165px;
    max-height: max-content;
    color: $color-black;
  }
  &__name {
    @include subtitle-2;
    font-weight: 700;
    color: $color-grey-darken-1;
  }
  &__from {
    @include subtitle-3;
    color: $color-grey-darken-1;
  }
  &__person-info {
    justify-self: end;
  }
  &__person-info-container {
    height: 100%;
  }
}

.border-grey {
  border-right: 1px solid $color-grey-border;
}

.manage-your-team {
  padding-bottom: 0;
  &__title {
    color: $color-black;
  }
}

.input-block {
  background: linear-gradient(
    0deg,
    $background-color-grey 0%,
    $background-color-grey 75%,
    white 75%,
    white 100%
  );
  &__title {
    color: $color-black;
  }
  &__input-background {
    width: 558px;
    background-color: $color-white;
    @include border;
    box-shadow: 0px 22px 54px $color-shadow-blue;
    border-radius: 10px;
  }
  &__input-form {
    color: $color-grey-darken-1;
  }
  &__input-item {
    width: 456px;
    font-size: 14px;
    line-height: 50px;
    letter-spacing: -0.3px;
    @include border;
    border-radius: 3px;
    &:focus {
      outline: none;
    }
  }
  &__attachment {
    width: 456px;
    font-size: 14px;
  }
  &__button-send {
    width: 456px;
  }
  &__attach-button:hover {
    cursor: pointer;
  }
  &__attach-input {
    width: 0px;
  }
  .file-input {
    display: none;
  }
}

.footer {
  &-bg {
    padding: 0;
    background: $blue-gradient;
    height: max-content;
  }
  &__nav-container {
    width: 1100px;
  }
  &__nav {
    li:first-child {
      font-size: 14px;
      color: $color-grey-lighten-1;
      mix-blend-mode: normal;
      opacity: 0.7;
    }
    @include subtitle-2;
    z-index: 5;
    color: $color-grey-lighten-2;
  }
  &__bottom-item {
    font-size: 12px;
    line-height: 18px;
    color: $color-grey-lighten-1;
  }
}
