@import "variables";
@import "fonts";
@import "buttons";
@import "mixins";
@import "normalize";
@import "spacing";

body {
  margin: 0 auto;
}

.header {
  &__nav {
    @include font-inter-light;
    @include subtitle-2;
    color: $color-grey-lighten-1;
  }
}

.hero {
  width: 100%;
  background-image: url(/assets/images/hero/hero-bg.png), $blue-gradient;
  background-position: top;
  background-repeat: no-repeat;
  mix-blend-mode: normal;
  background-size: 100%;
  &__content {
    margin-top: 79px;
    z-index: 1;
    text-align: center;
  }
  &__title {
    @include font-inter-bold;
    font-size: 46px;
    line-height: 68px;
    letter-spacing: -0.3px;
    color: $color-white;
  }
  &__subtitle {
    @include font-inter-light;
    font-size: 20px;
    max-width: 563px;
    line-height: 34px;
    color: $color-grey-lighten-1;
  }
  &__sub-subtitle {
    @include font-inter-light;
    @include subtitle-3;
    color: $color-grey-lighten-1;
  }
}

.advantages {
  .circle {
    margin: auto;
  }
  &__red-circle {
    @include circle;
    background-color: $color-red-circle;
  }
  &__red-dot {
    @include dot;
    background-color: $color-red-dot;
  }
  &__green-circle {
    @include circle;
    background-color: $color-green-circle;
  }
  &__green-dot {
    @include dot;
    background-color: $color-green-dot;
  }
  &__purple-circle {
    @include circle;
    background-color: $color-purple-circle;
  }
  &__purple-dot {
    @include dot;
    background-color: $color-purple-dot;
  }
  &__title {
    @include font-inter-bold;
    color: $color-black;
    font-size: 22px;
    line-height: 34px;
    text-align: center;
  }
  &__subtitle {
    @include font-inter-reg;
    @include subtitle;
    color: $color-grey-darken-1;
    font-weight: 400;
    margin: 0;
    text-align: center;
    max-width: 300px;
  }
}

.block-background {
  width: 1600px;
  background-color: $background-color-grey;
}

.block-gradient-background {
  background: $color-white;
  background: linear-gradient(
    0deg,
    $color-white 50%,
    $color-white 50%,
    $background-color-grey 50%,
    $background-color-grey 100%
  );
}

.manage-everything {
  &__img-wrapper {
    position: relative;
  }
  &__img-1 {
    box-shadow: 0px 6px 20px $color-shadow-black;
  }
  &__img-2 {
    position: absolute;
    top: 100px;
    left: 147px;
    box-shadow: 0px 22px 54px $color-shadow-blue;
  }
  &__img-gradient {
    position: absolute;
    top: 180px;
    width: 351px;
    height: 192px;
    background: $white-gradient;
  }
  &__text-wrapper {
    margin-top: 180px;
    margin-bottom: 180px;
  }
  &__title {
    @include font-inter-bold;
    @include title;
    color: $color-black;
  }
  &__subtitle {
    @include font-inter-reg;
    @include subtitle;
    max-width: 436px;
    color: $color-grey-darken-1;
  }
}

.build-better {
  margin-bottom: 150px;
  &__text-wrapper {
    margin-top: 154px;
  }
  &__title {
    @include font-inter-bold;
    @include title;
    color: $color-black;
  }
  &__subtitle {
    @include font-inter-reg;
    @include subtitle;
    max-width: 436px;
    color: $color-grey-darken-1;
  }
  &__img-wrapper {
    position: relative;
  }
  &__img-1 {
    position: relative;
    left: 230px;
    top: 60px;
  }
  &__img-2 {
    position: absolute;
    left: 18px;
  }
  &__img-gradient {
    position: absolute;
    width: 326px;
    height: 192px;
    top: 180px;
    left: 160px;
    background: $white-gradient;
  }
}

.hero-2 {
  background: $hero-2-background;
  background-image: url(../images/hero-2/hero-2-bg.png);
  background-size: 100%;
  background-repeat: no-repeat;

  background-position: center;
  mix-blend-mode: normal;
  &__circle {
    margin: 0 auto;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background-color: $color-white-transparent;
    position: relative;
  }
  &__triangle {
    @include triangle;
  }
  &__title {
    @include font-inter-bold;
    @include title;
    font-weight: 100;
    text-align: center;
    color: $color-white;
  }
  &__subtitle {
    @include font-inter-light;
    @include subtitle;
    text-align: center;
    color: $color-white;
    max-width: 750px;
  }
}

.choose-plan {
  &__title {
    text-align: center;
    @include font-inter-bold;
    @include title;
    font-weight: 100;
    color: $color-black;
  }
  &__subtitle {
    @include font-inter-reg;
    @include subtitle;
    font-weight: 100;
    color: $color-grey-darken-1;
    max-width: 750px;
    text-align: center;
  }
  &__toggle-buttons {
    @include font-inter-bold;
    @include border;
    width: 250px;
    border-radius: 23px;
    font-weight: 100;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: -0.3px;
    text-transform: uppercase;
    color: $color-green-darken-1;
    margin: 0 auto;
    &:hover {
      cursor: pointer;
    }
  }
  &__period-button {
    transition: all 0.3s ease-out;
    border-radius: 23px;
    width: 116px;
  }
  &__price-card {
    background-color: $color-white;
    border-radius: 6px;
  }
  &__line {
    position: relative;
    width: 350px;
    height: 4px;
    border-radius: 4px;
  }
  .line-active {
    background-color: $color-green;
  }
  &__type {
    @include font-inter-bold;
    color: $color-grey-2;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 32px;
  }
  &__price {
    @include font-inter-bold;
    color: $color-black;
    &-currency {
      font-size: 30px;
      line-height: 36px;
      letter-spacing: -1.2px;
    }
    &-number {
      font-size: 46px;
      line-height: 60px;
      letter-spacing: -0.3px;
    }
    &-slash {
      font-size: 22px;
    }
    &-period {
      font-size: 17px;
      line-height: 21px;
      letter-spacing: -0.3px;
    }
  }
  &__description {
    @include font-inter-reg;
    color: $color-grey-darken-1;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: -0.4px;
  }
  &__bonus-list {
    @include font-inter-light;
    font-weight: 700;
    position: relative;
    right: 28px;
  }
  &__bonus {
    @include subtitle;
    letter-spacing: -0.45px;
    color: $color-black;
  }
  &__bonus .crossed {
    font-weight: 100;
    text-decoration: line-through;
    color: $color-text-crossed;
  }
  &__footnote {
    @include font-inter-reg;
    @include subtitle-3;
    color: $color-footnote;
  }
}

.brands {
  &__title {
    @include font-inter-reg;
    @include subtitle-2;
    color: $color-grey-2;
    text-align: center;
  }
}

.growbots-logo {
  width: 163px;
  height: 35px;
}
.funnel-logo {
  width: 191px;
  height: 42px;
}
.digital-ocean-logo {
  width: 197px;
  height: 39px;
}
.sketch-logo {
  width: 147px;
  height: 39px;
}

.reviews {
  &__quote-card {
    @include border;
  }
  &__quote-mark {
    @include font-inter-reg;
    font-size: 98px;
    line-height: 119px;
    letter-spacing: -0.1px;
    color: $color-grey-lighten-1;
  }
  &__quote {
    @include font-inter-reg;
    @include subtitle;
    font-weight: 500;
    letter-spacing: -0.1px;
    max-width: 274px;
    min-height: 165px;
    max-height: max-content;
    color: $color-black;
  }
  &__name {
    @include font-inter-bold;
    @include subtitle-2;
    color: $color-grey-darken-1;
  }
  &__from {
    @include font-inter-reg;
    @include subtitle-3;
    color: $color-grey-darken-1;
  }
  &__person-info {
    justify-self: end;
  }
  &__person-info-container {
    height: 100%;
  }
}

.manage-your-team {
  margin-top: 100px;
  &__title {
    @include font-inter-bold;
    font-size: 28px;
    line-height: 50px;
    color: $color-black;
  }
}

.input-block {
  &__title {
    @include font-inter-bold;
    @include title;
    color: $color-black;
  }
  &__input-background {
    width: 558px;
    background-color: $color-white;
    @include border;
    box-shadow: 0px 22px 54px $color-shadow-blue;
    border-radius: 10px;
  }
  &__input-form {
    @include font-inter-reg;
    color: $color-grey-darken-1;
  }
  &__input-item {
    width: 456px;
    font-size: 14px;
    line-height: 50px;
    letter-spacing: -0.3px;
    @include border;
    border-radius: 3px;
    &:focus {
      outline: none;
    }
  }
  &__attachment {
    width: 456px;
  }
  &__button-send {
    width: 456px;
  }
  &__attach-button:hover {
    cursor: pointer;
  }
  &__attach-input {
    width: 0px;
  }
  .file-input {
    display: none;
  }
}

.footer {
  &-bg {
    background: $blue-gradient;
    height: max-content;
  }
  &__nav-container {
    width: 1100px;
  }
  &__nav {
    li:first-child {
      font-size: 14px;
      color: $color-grey-lighten-1;
      mix-blend-mode: normal;
      opacity: 0.7;
    }
    @include font-inter-reg;
    @include subtitle-2;
    z-index: 5;
    color: $color-grey-lighten-2;
  }
  &__bottom-item {
    @include font-inter-reg;
    font-size: 12px;
    line-height: 18px;
    color: $color-grey-lighten-1;
  }
}
